body {
    margin:0px;

}


nav {
    color:white;
    background-color: rgb(47, 49, 54);
    margin: none;
    border:none ;
    padding:none;
}

.nav-bar{
    height: 60px;
}


.account{
    float:right;
}




.nav-bar div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: inline-block;
    padding: 10px;



}

.logo:hover, .profile:hover, .dashboard:hover, .tickets:hover, .account:hover{
    color:gray;
    
}

.logo{ 
    
    padding: 10px;


}
section > article{ 
    color:green;
}

.search{


}

.search-bar{
    border-radius: 5px;
    height: 25px;
    width: 80%;
    display:inline-block;

}

.left-nav{
    float:right;
    
}
