* {
    margin:0px;
}



.nav-bar{
    color:white;
    background-color: rgb(41, 51, 73);
    margin: none;
    border:none ;
    padding:none;
}


.nav-bar div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    display: inline-block;
    padding: 10px ;   
}


.logo:hover, .profile:hover, .dashboard:hover, .tickets:hover, .account:hover{
    color:rgb(194, 194, 194);  
}


.search{
    width: 70%;
}

.search-bar{
    border-radius: 5px;
    height: 25px;
    width: 80%;
    display:inline-block;
    background-color: rgb(255, 255, 255);
    border-width: 0ch;
 
}
*:focus {
    outline: none;
}

